.overlay {
    width: 100%;
    height: 100vh;
    /* or any other desired height */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

export .navbarText {
    color: "white";
    text-decoration: "none";
}